{% extends "base.html" %} 

{% block content %}

{% load static %}

<div class="headdiv">
    <h1 class="about-header">Welcome {{ user.username }} to AviaBlog!</h1>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="about-us-short">
          <h4>Who are we?</h4>
            <p class="who-are-we-p">
                We are a group of hobby enthusiasts who want others to share their interests to inspire people to try out new hobbies.
            </p>
        </div>
      </div>
      <div class="col">
        <div class="about-call-to-action">
          <h4>What we want:</h4>
          <p class="what-we-want-p">Please join our community to start sharing your interest with others, perhaps you learn something new?</p>
        </div>
      </div>
  </div>
  <br>
  <br>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <div class="col col-md">
            <h3 class="about-us-header">The Story About Us:</h3>
          </div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h2>{{  text  }}</h2>
          {% for post in posts  %}
            <h1>{{  post.name  }}</h1>
            <p>{{  post.post  }}</p>
          {%  endfor  %}

{% endblock %}